output/
gh-pages/
.venv/
.ropeproject/

road_topology/*.md
road_topology/*.txt

.DS_Store

*.log

__pycache__/
*.pyc
*.pyo
*.pyd
*.so

.env
.env.*

*.osm.pbf

*.egg-info/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.*.local
